@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#4f46e5,#7c3aed,#06b6d4);
    overflow:hidden;
}

body::before{
    content:"";
    position:absolute;
    width:450px;
    height:450px;
    background:rgba(255,255,255,0.12);
    border-radius:50%;
    top:-150px;
    left:-100px;
    filter:blur(10px);
}

body::after{
    content:"";
    position:absolute;
    width:350px;
    height:350px;
    background:rgba(255,255,255,0.1);
    border-radius:50%;
    bottom:-120px;
    right:-80px;
    filter:blur(10px);
}

.container{
    position:relative;
    width:400px;
    background:rgba(255,255,255,.15);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,.2);
    border-radius:20px;
    padding:40px;
    text-align:center;
    box-shadow:0 25px 45px rgba(0,0,0,.25);
    animation:fadeIn .8s ease;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

h1,h2{
    color:white;
    margin-bottom:25px;
}

input{
    width:100%;
    padding:14px;
    margin:12px 0;
    border:none;
    border-radius:12px;
    background:rgba(255,255,255,.25);
    color:white;
    font-size:15px;
    outline:none;
}

input::placeholder{
    color:#eeeeee;
}

button{
    width:100%;
    padding:14px;
    margin-top:20px;
    border:none;
    border-radius:12px;
    background:white;
    color:#4f46e5;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:translateY(-3px);
    background:#ede9fe;
}

a{
    display:block;
    margin-top:18px;
    color:white;
    text-decoration:none;
    font-weight:500;
    transition:.3s;
}

a:hover{
    color:#facc15;
}

.password-box{
    position:relative;
    width:100%;
    margin:12px 0;
}

.password-box input{
    width:100%;
    padding:14px;
    padding-right:45px;
}

.password-box i{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
    color:white;
    font-size:18px;
    transition:.3s;
}

.password-box i:hover{
    color:#facc15;
}